.container-user-perfil {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  height: 82.3rem;
}

.user-perfil-informacoes {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
}

.user-perfil-informacoes p {
  font-size: 1.7rem;
  margin-top: 0.5rem;
}

.user-perfil-informacoes-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid #ca79c6;
  margin-bottom: 1rem;
}

.user-perfil-informacoes-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.user-perfil-editar {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  padding: 2rem;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.user-perfil-editar label {
  font-size: 2rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

/* .user-perfil-editar input {
  border: 1px solid rgb(232 235 238);
  border-radius: 0.5rem;
} */

.user-perfil-editar .user-perfil-editar-input-select {
  display: flex;
  gap: 0.75rem;
  width: 100%;
}

.user-perfil-editar
  .user-perfil-editar-input-select
  .user-perfil-editar-input-select-titulo {
  width: 50%;
}

.user-perfil-editar
  .user-perfil-editar-input-select
  .user-perfil-editar-input-select-genero {
  width: 50%;
}

.user-perfil-editar .user-perfil-editar-input-select p {
  font-size: 2rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 1rem;
}

.user-perfil-editar .user-perfil-editar-input-select select {
  font-size: 2rem;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
  padding: 1rem;
  border: 1px solid rgb(232 235 238);
  border-radius: 0.5rem;
  width: 100%;
  color: rgb(160 160 160);
}

.user-perfil-editar .user-perfil-editar-input-select select option {
  color: #000000;
}

.user-perfil-editar .user-perfil-editar-input-nome{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-perfil-editar .user-perfil-editar-input-nome label{
  font-size: 2rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 1rem;
}


.user-perfil-editar .user-perfil-editar-input-nome input{
  font-size: 2rem;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
  padding: 1rem;
  border: 1px solid rgb(232 235 238);
  border-radius: 0.5rem;
  width: 100%;
  color: rgb(160 160 160);
}

.user-perfil-editar .user-perfil-editar-input-contato {
  display: flex;
  gap: 0.75rem;
  width: 100%;
}

.user-perfil-editar
  .user-perfil-editar-input-contato
  .user-perfil-editar-input-contato-numero {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.user-perfil-editar
  .user-perfil-editar-input-contato
  .user-perfil-editar-input-contato-emergencia {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.user-perfil-editar
  .user-perfil-editar-input-contato
  .user-perfil-editar-input-contato-numero
  label {
  font-size: 2rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 1rem;
}

.user-perfil-editar
  .user-perfil-editar-input-contato
  .user-perfil-editar-input-contato-emergencia
  label {
  font-size: 2rem;
  line-height: 1.25rem;
  color: #000000;
  margin-bottom: 1rem;
}

.user-perfil-editar
  .user-perfil-editar-input-contato
  .user-perfil-editar-input-contato-emergencia
  input {
  font-size: 2rem;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
  padding: 1rem;
  border: 1px solid rgb(232 235 238);
  border-radius: 0.5rem;
  width: 100%;
  color: rgb(160 160 160);
}

.user-perfil-editar
  .user-perfil-editar-input-contato
  .user-perfil-editar-input-contato-numero
  input {
  font-size: 2rem;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
  padding: 1rem;
  border: 1px solid rgb(232 235 238);
  border-radius: 0.5rem;
  width: 100%;
  color: rgb(160 160 160);
}

.user-perfil-informacoes-buttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 2rem;
  padding-top: 2rem;
  gap: 2rem;
}

.user-perfil-informacoes-buttons button {
  display: flex;
  justify-content: center;
  width: 30rem;
  color: rgb(24 50 83/1);
  background: rgb(248 249 250/1);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0;
  font-size: 1.5rem;
}
.button-perfil {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.user-perfil-informacoes-buttons:hover {
  opacity: 0.8;
}

.uploader {
  display: flex;
  flex-direction: column;
  grid-column: span 6 / span 6;
  gap: 0.75rem;
  width: 100%;
}
