/* especiasis */

.doador-sangue{
  margin-right: 2rem;
}

.banco-sangue{
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.nascimento{
  margin-right: 2rem;
}



/* padrao */

.home-container {
  display: flex;
}

.home-direita {
  width: 100vw;
  height: 100vh;
  background: rgba(157, 201, 209, 0.315);
}

.maindiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 0rem;
}

.maindiv h1{
    font-size: 2rem;
    padding: 0;
}

.maindiv p{
    font-size: 2rem;
}

.commondiv {
  border: 2px solid;
  height: 8rem;
  border-radius: 1rem;
  text-align: center;
}

.patientDetails {
  margin-top: 5rem;
}
.patientDetails h1 {
  margin-bottom: 1rem;
  color: rgb(184 191 234);
}

.patientBox {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 0px 36px -3px #00000026;
}

.commondiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  box-shadow: 0px 0px 36px -3px #00000026;
  border: none;
  background-color: white;
}

.overviewIcon {
  font-size: 4rem;
  color: rgba(102, 185, 206, 0.527);
  width: 5rem;
  height: 5rem;
}

.notification{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: #7e7d7d;
}