.doador-container {
  display: flex;
}

.doador-container-direita {
  width: 100vw;
  background: rgba(157, 201, 209, 0.315);
}

.doador-container-bottom .container {
  width: auto;
  height: auto;
  gap: 0;
}

.add-doador-container-bottom {
  background: rgba(157, 201, 209, 0.315);
  padding-bottom: 2rem;
  height: auto;
  width: auto;
}

.doador-container-bottom {
  background: rgba(157, 201, 209, 0.315);
}

.Main_Add_Doctor_div {
  margin: auto;
  padding: 3rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 1px 11px 2px #0000001f;
  background-color: white;
}

.Main_Add_Doctor_div h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0rem 0rem 1rem 0rem;
}

.Main_Add_Doctor_div img {
  width: 10%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 6rem;
}

.Main_Add_Doctor_div form div label {
  width: 200px;
  font-size: 2rem;
  padding: 0.5rem;
  margin-top: 5px;
}

.Main_Add_Doctor_div .file {
  width: 20%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(157, 201, 209, 0.315);
  padding: 0.6rem;
  cursor: pointer;
}

.css-204u17-MuiDataGrid-main {
  font-size: 1.5rem;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1.4rem;
}

.css-1xif2b4-MuiPopper-root-MuiDataGrid-menu .MuiDataGrid-menuList li {
  font-size: 1.4rem;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 1.5rem !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-size: 2.5rem !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 2rem !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 2rem !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 1.5rem !important;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
  font-size: 2rem !important;
}

.css-levciy-MuiTablePagination-displayedRows {
  font-size: 1.3rem !important;
}

.css-i4bv87-MuiSvgIcon-root {
  font-size: 2.5rem !important;
}

.Main_Add_Doctor_div form div {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 5px;
  align-items: center;
}

.Main_Add_Doctor_div form input,
.Main_Add_Doctor_div select,
.Main_Add_Doctor_div textarea {
  width: 100%;
  background-color: rgba(157, 201, 209, 0.315);
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.inputdiv {
  display: flex;
  justify-content: left;
  width: 60%;
}

.Main_Add_Doctor_div .formsubmitbutton {
  text-align: center;
  width: 15%;
  height: 4rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  background: #ca79c6;
  display: block;
  margin: auto;
  margin-top: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
  line-height: 10px;
}

.formsubmitbutton:hover {
  letter-spacing: 1.3px;
}

.inputdiv span div {
  display: block;
}

.mainAmbupance {
  background-color: white;
}

.add-doador-container-bottom .buttons {
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  padding-top: 2rem;
  gap: 2rem;
}

.add-doador-container-bottom .buttons button {
  display: flex;
  justify-content: center;
  width: 30rem;
  background: #ca79c6;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0;
  font-size: 1.5rem;
}

.add-doador-container-bottom .container {
  margin: auto;
  padding: 3rem;
  border-radius: 10px;
  width: auto;
  box-shadow: 0px 1px 11px 2px #0000001f;
  background: white;
  margin: 2rem;
}

.doador-container-bottom .container .buttons {
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  padding-top: 2rem;
  gap: 2rem;
}

.doador-container-bottom .container .buttons button {
  display: flex;
  justify-content: center;
  width: 30rem;
  background: #ca79c6;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0;
  font-size: 1.5rem;
}

.Toastify__toast-body > div:last-child {
  font-size: 1.5rem;
}

/* ações */

.actions {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.actions button {
  border: none;
  outline: none;
  padding: 3px 5px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.delete {
  background-color: red;
}

@media only screen and (max-width: 1024px) {
  .Main_Add_Doctor_div img {
    width: 30%;
  }
  .formsubmitbutton {
    width: 20%;
  }
}

@media only screen and (max-width: 850px) {
  .Main_Add_Doctor_div img {
    width: 30%;
  }
  form div {
    display: block;
  }
  .inputdiv {
    width: 100%;
  }
  .Main_Add_Doctor_div {
    padding: 1rem;
  }
  .adressdiv {
    display: block;
  }
  .formsubmitbutton {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .Main_Add_Doctor_div h1 {
    font-size: 1.7rem;
  }
  .Main_Add_Doctor_div {
    width: 100%;
  }
  .formsubmitbutton {
    width: 70%;
  }
}

@media only screen and (max-width: 450px) {
  .formsubmitbutton {
    width: 70%;
  }
}
