.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.header h1{
  font-size: 3rem;
}

.header .infos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header .infos .image {
  height: 5rem;
  width: 5rem;
}

.header .infos .image img {
  height: 100%;
  width: 100%;
}

.header .infos button {
  display: flex;
  justify-content: center;
  width: 10rem;
  background: #ca79c6;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0;
  font-size: 1.5rem;
}
