
main {
  width: 100%;
  padding: 20px;
}

.mainIcon {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.sidebar {
  background: rgba(102, 185, 206, 0.527);
  color: #fff;
  height: 100%;
  transition: all 0.5s;
  position: sticky;
  top: 0;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  justify-content: center;
}

.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  transition: all 0.5s;
}
.link:hover {
  background: #CA79C6;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: #CA79C6;
}
.icon,
.link_text {
  font-size: 15px;
}

.LogOutPath .icon {
  font-size: 2rem;
}

.AfterSideBar {
  width: 90%;
  margin: 2rem;
}

@media only screen and (max-width: 1200px) {
  .maindiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .commondiv {
    gap: 2.5rem;
  }
}

@media only screen and (max-width: 850px) {
  .maindiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .commondiv {
    gap: 4rem;
  }
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .maindiv {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    gap: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .hidesidebar {
    display: none;
  }
  .showsidebar {
    display: block;
  }
  .Icons {
    font-size: 1.3rem;
  }
  .IconsDiv {
    gap: 15px;
    border: 1px solid;
  }
  .MainDiv {
    border: 1px solid;
  }
}
